{% extends 'base.html.twig' %}


{% block title %}Calm Rising{% endblock %}

{% block header %}
    <img src="{{ asset('img/holshefte.png') }}" width="100%" height="700px;" class="animated fadeInLeft"
         style="position: relative;">
    <div class="bottom-right animated fadeInUp" style="
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
  font-family: 'VT323', monospace;
  font-size: 64px;
  color: white;
}">Team Atlas Fortite clan
    </div>
    <div class="main-page-container">
        <h1 class="main-page-title">About Team Atlas</h1>
    </div>
{% endblock %}
